
<ion-view  view-title="关键字">

    <ion-content>

        <!--<ion-refresher pulling-text="下拉刷新..." pulling-icon="ion-android-arrow-down"
                       on-refresh="doRefresh()"></ion-refresher>-->
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" ng-model="keyword" placeholder="感兴趣的关键字">
            </label>
            <button class="button button-small" ng-click="addKeyword(keyword)">
                添加
            </button>
        </div>
        <div
                style="height: 400px;
                background:#8baa4d;">

            <!-- To enable/disable "livereloading" -->


            <!-- The tagcloud, couldn't be simpler -->
            <tag-cloud tags="tags" tag-clicked="tagClicked(tag)"></tag-cloud>

            <!-- Our "log" to show which tags we clicked on. -->


        </div>
        <!--<div class="list">


            <ion-list>


                <ion-item class="item-remove-animate" ng-repeat="keyvalue in keywords" type="item-text-wrap" href="#/tab/keywords/{{keyvalue.id}}">

                    <h2>       {{keyvalue.keyword}}</h2>
                    <ion-option-button class="button-assertive" ng-click="remove(keyvalue)">
                        Delete
                    </ion-option-button>
                </ion-item>
            </ion-list>

        </div>
        <ion-infinite-scroll
                ng-if="moreDataCanBeLoaded"
                icon="ion-load-d"
                on-infinite="loadMoreData()">
            加载更多
        </ion-infinite-scroll>-->
    </ion-content>
</ion-view>