<ion-view view-title="详细信息">
    <ion-content>
        <div class="item item-image imgtransparent " >
            <img src="img/background.jpg"></img>

        </div>
        <div class="float_z">
            {{keyvalue.keyword}}
        </div>



        <div class="list">
            <a class="item left_text" >
                <h2 style="color:#8b8b8b">最新推送</h2>
            </a>
            <a class="item item-avatar" ng-repeat="result in results" type="item-text-wrap"
               ng-click="openUrl('{{result.result_url}}')" target="_blank">
                <img src="img/car.jpg">

                <h2>{{result.result_title}}</h2>

                <p>{{result.result_url}}</p>
            </a>
            <a class=" middle_text" >
                <div  class=" ion-chevron-right" style="color:#30288b">  更多</div>
            </a>



        </div>
        <a class="item left_text item-icon-right" >
            <h2 style="color:#8b8b8b">短评</h2>
            <i class="icon ion-ios-compose-outline" ng-click="modal.show()"></i>
        </a>
        <div class="parent_div" ng-repeat="comment in comments">
            <div class="left_div ">

            </div>
            <div class="right_div">
                {{comment.user.nickName}}

            </div>
            <div class="middle_div">
                {{comment.comment}}

            </div>
            <div class="down_div">
                {{comment.created_at}}
            </div>

        </div>



    </ion-content>
</ion-view>