<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="关键词" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/keywords">
        <ion-nav-view name="tab-keywords"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="发现" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/find">
        <ion-nav-view name="tab-find"></ion-nav-view>
    </ion-tab>

    <ion-tab title="设置" icon-off="ion-ios-toggle-outline" icon-on="ion-ios-toggle" href="#/tab/setting">
        <ion-nav-view name="tab-setting"></ion-nav-view>
    </ion-tab>


</ion-tabs>
