<ion-view view-title="设置">
    <ion-content>


        <div class="list">


            <ion-toggle ng-model="user.isPush" toggle-class="toggle-calm">Turn on Push</ion-toggle>




            <a class="item item-thumbnail-right "  ng-click="showChoice()">

                <img ng-src="{{user.photoName}}">

                Photo

            </a>

            <a class="item item-icon-left" ng-click="showInput('nickname')">
                <i class="icon ion-mic-a"></i>
                Nick Name
                <span class="item-note">
                    {{user.nickName}}
                </span>
            </a>



            <a class="item item-icon-left" ng-click="showInput('phonenumber')">
                <i class="icon ion-ios-telephone"></i>
                Phone Number
                <i class="item-note  ">{{user.phoneNumber}}</i>

            </a>



            <a class="item item-icon-left" href="#">
                <i class="icon ion-person-stalker"></i>
                Friends
                <span class="badge badge-assertive">0</span>
            </a>

            <button class="button button-block button-positive" ng-click="clearCache()">
                Clear Cache
            </button>


        </div>
    </ion-content>
</ion-view>